.node .main {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}
h1 {
  text-align: center;
}
.node .delete {
  stroke-width: 1.5px;
}

.node {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

svg {
  margin-left:auto;
  margin-right:auto; 
  display:block;
}

// text {
//   font: 15px "Helvetica Neue", Helvetica, Arial, sans-serif;
// }

#reset {
  position: absolute;
  left: 20px;
  top: 70px;
}

.details {
    position: fixed;
    top: 60px;
    right: 10px;
    width: 280px;
}