body {
	background-color: #fffdee;
}

a:hover {
	cursor: pointer;
}

h1 {
	text-align: center;
}

svg {
	margin-left:auto;
	margin-right:auto; 
	display:block;
}

.node .main {
	fill: #fff;
	stroke: steelblue;
	stroke-width: 1.5px;
}

.node .delete {
 	stroke-width: 1.5px;
}

.node {
 	font: 10px sans-serif;
}

.link {
	fill: none;
	stroke: #ccc;
	stroke-width: 1.5px;
}

#reset {
	position: absolute;
	left: 20px;
	top: 70px;
}

.fa-font, .fa-square {
	color: red;
}
