.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 2px;
}

.node .plus, .node .minus {
    stroke: none;
    stroke-width: 0;
}

.node text { 
	font: 15px sans-serif; 
}

.link {
    fill: none;
    stroke: #eaeaea;
    stroke-width: 2px;
}