<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Easymind</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/vendor/bootstrap.min.css" />
        <link rel="stylesheet" href="css/tree.css" />
    </head>
    <body>
        <div class="container-fluid">
            <div ng-app="EasyMind">

                <h1 class="text-center">Easymind</h1>

                <div ng-controller="navCtrl">
                    <ng-include src="'js/angular.easymind/templates/nav.html'"></ng-include>
                </div>

                <div ng-controller="chartCtrl">
                    <tree-chart data="data" diameter="960"></tree-chart>
                </div>

                <div ng-controller="panelCtrl">
                    <div id="panel">
                        <div ng-if="detail">
                            <ng-include src="'js/angular.easymind/templates/panel-detail.html'"></ng-include>
                        </div>

                        <div ng-if="edit">
                            <ng-include src="'js/angular.easymind/templates/panel-edit.html'"></ng-include>
                        </div>
                    </div>
                </div>

                <div ng-controller="undoCtrl">
                    <div ng-if="hasHistory()" class="json-upate-label bg-success">Updated JSON <a ng-click="undo()">(undo)</a></div>
                </div>
                <div ng-controller="jsonDataCtrl">
                    <textarea id="json-data" class="form-control" ng-model="data" ng-blur="updateData()"></textarea>
                </div>
            </div>
        </div>
        <script src="js/vendor/d3.v3.js"></script>
        <script src="js/vendor/angular.min.js"></script>
        <script src="js/d3.easymind.js"></script>
        <script src="js/angular.easymind/app.js"></script>
        <script src="js/angular.easymind/controllers/chart.js"></script>
        <script src="js/angular.easymind/controllers/filter.js"></script>
        <script src="js/angular.easymind/controllers/json-data.js"></script>
        <script src="js/angular.easymind/controllers/panel.js"></script>
        <script src="js/angular.easymind/controllers/undo.js"></script>
        <script src="js/angular.easymind/directives/tree-chart.js"></script>
        <script src="js/angular.easymind/directives/init-focus.js"></script>
        <script src="js/angular.easymind/services/data.js"></script>
        <script src="js/angular.easymind/services/bus.js"></script>
    </body>
</html>
